

p strong {
  color: #15D256;
}

img {
      width: 45vh;
}

@media (max-width: 420px) {
  html {
    width: 100%;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
  img {
    width: 330px;
  }
}

